body{
    font-family: system-ui;
    background:#0e1a24;
    color: #fff;
    text-align: center;
}
.boards{
    display: flex; 
    justify-content: center;
    gap:60px;
    margin-top: 30px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
    gap: 3px;
}
.cell{
    width: 35px;
    height: 35px;
    background-color: #1f3b52;
    border-radius: 4px;
    cursor: pointer;
}
.cell:hover{
    background-color: #2f5c7a;
}
/* states */
.ship{background: #6fa8dc;}
.hit{background: crimson;}
.miss{background: #555;}    
.controls{
    margin-top: 30px;
}